@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #141423;
  color: #fff;
  box-shadow: rgb(177 174 174 / 59%) 0px 1px 4px;
}
body {
  margin: 0 !important;
}

.custom-input {
  border: 1px solid hsl(242, 3%, 55%);
  width: 95%;
  border-radius: 15px;
  padding: 0;
  color: #fff;
  background-color: transparent;
  padding: 20px 20px;
}

.custom-input::placeholder {
  color: hsl(242, 3%, 55%);
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  /* background-image: linear-gradient(
    to right top,
    #270537,
    #450960,
    #660d8c,
    #8810ba,
    #ad12eb
  ); */
  background: hsla(172, 85%, 74%, 1);

  background: linear-gradient(
    90deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(319, 74%, 64%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(319, 74%, 64%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(172, 85%, 74%, 1) 0%,
    hsla(319, 74%, 64%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#83F5E5", endColorstr="#E761BD", GradientType=1 );
  width: 50%;
}

audio {
  width: 60%;
  height: 100px;
}
